


/* .box {
    margin-top: 30px;
    float: left;
    margin: 10px;
    border: 2px;
    border-color: black;
} */

#id{
    border: red;
    border: solid 2px;
    padding: 10px ;
    float: left;
    margin:20px;
    background-color: aqua;
}