<!-- <span class="content">{{ title }} app is running!</span> -->


<span><b>AngularLearning</b></span>

<a class='path' routerLink="/employee" routerLinkActive="active" ariaCurrentWhenActive="page"> View_Employee </a>
<a class='path' routerLink="/edit" routerLinkActive="active" ariaCurrentWhenActive="page"> Edit_Employee </a>
<a  class='path' routerLink="/quantityIncrement" routerLinkActive="active" ariaCurrentWhenActive="page"> Quantity_Increment </a>
<a class='path' routerLink="/quantitySelector" routerLinkActive="active" ariaCurrentWhenActive="page"> Quantity_Selector </a>
<a class='path' routerLink="/editTemplate" routerLinkActive="active" ariaCurrentWhenActive="page"> Edit_Employee(Template Driven) </a>
<a class='path' routerLink="/edit-emp-reactive/:id" routerLinkActive="active" ariaCurrentWhenActive="page">Edit_Employee(Reactive Driven)</a>
<a class='path' routerLink="/employeeList" routerLinkActive="active" ariaCurrentWhenActive="page">EmployeeList</a>
<a class='path' routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>

<router-outlet></router-outlet>