<!-- <span class="content">{{ title }} app is running!</span> -->


<span><b>AngularLearning</b></span>

<a routerLink="/employee" routerLinkActive="active" ariaCurrentWhenActive="page"> View_Employee </a>
<a routerLink="/edit" routerLinkActive="active" ariaCurrentWhenActive="page"> Edit_Employee </a>
<a routerLink="/quantityIncrement" routerLinkActive="active" ariaCurrentWhenActive="page"> Quantity_Increment </a>
<a routerLink="/quantitySelector" routerLinkActive="active" ariaCurrentWhenActive="page"> Quantity_Selector </a>
<a routerLink="/editTemplate" routerLinkActive="active" ariaCurrentWhenActive="page"> Edit_Employee(Template Driven) </a>


<router-outlet></router-outlet>