<!-- <span class="content">{{ title }} app is running!</span> -->


<span><b>AngularLearning</b></span>

<a routerLink="/employee" routerLinkActive="active" ariaCurrentWhenActive="page"> View Employee </a>
<a routerLink="/edit" routerLinkActive="active" ariaCurrentWhenActive="page"> Edit Employee </a>
<a routerLink="/quantityIncrement" routerLinkActive="active" ariaCurrentWhenActive="page"> Quantity Increment </a>
<a routerLink="/quantitySelector" routerLinkActive="active" ariaCurrentWhenActive="page"> Quantity Selector </a>

<router-outlet></router-outlet>